body {
  font-family: Open Sans, sans-serif;
  max-width: 460px;
  margin: 60px auto;
}

.TodoPageMain {
  justify-content: center;
}

.TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #453c52;
  font-weight: 600;
  margin-bottom: 12px;
}

.AddTodo {
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
}

.AddTodo-button {
  font-size: 14px;
  color: white;
  background: #48bb78;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.TodoSectionTitle {
  display: flex;
  color: #453c52;
  align-items: center;
  margin-right: 8px;
}

.TodoSection-title {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoSection-remainingCount {
  font-size: 14px;
}

.TodoItem {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453c52;
}

.TodoItem-container {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  height: 30px;
  width: fit-content;
}

.TodoItem-container:hover {
  background-color: #f1edf7;
  border-radius: 4px;
}

.TodoItem-checkbox {
  height: 16px;
  width: 16px;
}

.TodoItem-overdueLable {
  margin-left: 10px;
  color: #c53030;
  font-size: 12px;
  display: inline;
}

.TodoItem-delete {
  visibility: hidden;
  margin-left: 8px;
}

.TodoItem-dueDate {
  color: #888;
  margin-left: 8px;
}

.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}

.TodoItem-delete > img {
  width: 16px;
}

.TodoSection {
  margin-bottom: 20px;
}

.TodoSection-todo {
  font-size: 20px;
  line-height: 1.2;
  margin-left: 32px;
  color: #453c52;
}
