<main class="TodoPageMain">
  <h1 class="TodoPage-title">My Todo-List</h1>
  <section class="AddTodo">
    <input class = "AddTodo-text" type="text" placeholder="What's next?"></input>
  <input class = "AddTodo-date" type="date"></input>
<input class = "AddTodo-button" type="button" value="Add"></input>
</section>
<%= render partial: "todo-section", locals: {
             selction_title: "Overdue",
             todos: Todo.overdue.completed(false),
             show_date: true,
           } %>
<%= render partial: "todo-section", locals: {
             selction_title: "Due today",
             todos: Todo.due_today,
             show_date: false,
           } %>
<%= render partial: "todo-section", locals: {
             selction_title: "Due later",
             todos: Todo.due_later,
             show_date: true,
           } %>
</main>
