<h1>This is the todo list</h1>
<p> The date today is <%= DateTime.now.to_s(:long) %> </p>
<h3>There are todal of <%= Todo.count %> todos in our database</h3>

<% Todo.all.map do |todo| %>
  <div style = "display:flex; align-items:center">
     <p style = "color:darkblue; font-size:32px; margin-right:32px"> <%= todo.todo_text %> </p>
     <p> <%= todo.due_date %>
  </div>
<% end %>
